.container{
    margin-top: 100px;
    background-image: url(https://img.freepik.com/free-photo/panorama-morning-sky-cloud_58717-76.jpg?w=2000);
    
}
body{
    background-image:url(https://img.freepik.com/free-photo/panorama-morning-sky-cloud_58717-76.jpg?w=2000);
}